.Angelical-top{
    color:rgb(20, 20, 20)
}

.Angelical-bottom{
    color:rgb(20, 20, 20)
}

.Demoniaco-top{
     /*ver de ponerle una shadow? o buscar otra foto*/
    color:rgb(238, 231, 231)
}

.Demoniaco-bottom{
     /*same^^*/
    color:rgb(238, 231, 231)
}
