.items-list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 8px;
  height: auto;
  overflow: auto;
  width: 100%;
  max-width: 550px;
}

.items-list-item {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #3f3942;
  cursor: pointer;
  margin-right: 20px;
}

.selected {
  background-color: #6c4781;
}

.items-list-item:hover {
  background-color: #9f89ac;
}

.selected:hover {
  background-color: #8962a0;
}

.items-list-icon {
    font-size: 28px;
    font-weight: bold;
    margin: 5px
}
.items-list-nombre {
    font-size: 18px;
    font-weight: bold;
}
.items-list-id {
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
}

.items-list::-webkit-scrollbar {
  width: 10px; 
}

.items-list::-webkit-scrollbar-track {
  background: #00000000;
}

.items-list::-webkit-scrollbar-thumb {
  background: #514b53;
  border-radius: 10px;
}

.items-list::-webkit-scrollbar-thumb:hover {
  background: #605763;
}
