.searchBar{
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-content: center;
    width: 90%;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #ccc;
}

.searchBar-input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin-left: 10px;
}

.searchBar-input:focus{
    outline: none;
}

.searchBar-icon{
    font-size: 27px;
    cursor: pointer;
    margin-right: 5px;
}
