.ubicacionCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 488px;
}

.ubicacionCard-buttonContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

.ubicacionCard-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.Cementerio-top{
    color:rgb(20, 20, 20)
}

.Cementerio-bottom{
    color:rgb(238, 231, 231)
}

.Santuario-top{
     /*ver de ponerle una shadow? o buscar otra foto*/
    color:rgb(20, 20, 20)
}

.Santuario-bottom{
     /*same^^*/
    color:rgb(238, 231, 231)
}


.ubicacionCard-nombre{
    /*buscar font cul*/
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0;
}

.ubicacionCard-bottomContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    gap: 25px;
}

.ubicacionCard-id{
    font-size: 26px;
    font-weight: 500; 
    margin: 0;
}

.ubicacionCard-flujo {
    font-size: 26px;
    font-weight: 500; 
    margin: 0;
    white-space: nowrap;
}

.ubicacionCard-flujo-porcentaje {
    font-size: 26px;
    font-weight: 500; 
    margin: 0;
    white-space: nowrap;
}

.progress-bar {
    flex-grow: 1;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 0;
}

.progress-bar-fill {
    height: 100%;
    background-color: #df90d2;
    border-radius: 10px 0 0 10px;
 }

.ubicacionCard-info{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ubicacionCard-flujo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

/*delete*/
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.popup-button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.popup-button.confirm {
    background-color: #e26bce;
    color: white;
}

.popup-button.cancel {
    background-color: #51afcc;
    color: white;
}