
.Cementerio-top{
    color:rgb(20, 20, 20)
}

.Cementerio-bottom{
    color:rgb(238, 231, 231)
}

.Santuario-top{
     /*ver de ponerle una shadow? o buscar otra foto*/
    color:rgb(20, 20, 20)
}

.Santuario-bottom{
     /*same^^*/
    color:rgb(238, 231, 231)
}
