.ubicaciones-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  overflow: auto;
  width: 70%;
}

.ubicaciones-list-item {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.selected {
  background-color: #df90d2;
}

.ubicaciones-list-item:hover {
  background-color: #e9c8e3;
}

.selected:hover {
  background-color: #df90d2;
}

.ubicacion-list-icon {
    font-size: 28px;
    font-weight: bold;
    margin: 5px
}
.ubicacion-list-nombre {
    font-size: 18px;
    font-weight: bold;
}
.ubicacion-list-id {
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
}
