.getAllContainer {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   padding: 60px 100px;
   gap: 20px
}

.searchContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
}

.contentContainer {
   display: flex;
   width: 100%;
   height: 100%;
   gap: 20px;
}

.listContainer {
   flex: 1;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.cardContainer {
   flex: 1;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.popup-button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.popup-button.confirm {
    background-color: #e26bce;
    color: white;
}

.popup-button.cancel {
    background-color: #51afcc;
    color: white;
}