#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: "Peanut_Butter";
  src: url("./assets/fonts/Peanut_Butter.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
